<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="col-md-6 col-lg-6 col-xlg-4" *ngIf="!cargando && !mostrarCalendarioForm">
  <div class="card card-body">
      <div class="row">
          <div class="col-md-4 col-lg-3 text-center && !mostrarCalendarioForm">
              <a href="app-contact-detail.html"><img src="../assets/images/calendario.jpg" alt="user" class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-8 col-lg-9">
              <h3 class="box-title m-b-0">Fecha de la restricción </h3> <small>Semestre 2021-2</small>
              <address>
                Desde {{fechaInicio | date}}
                  <br>
                  Hasta {{fechaFin | date}}
                  <br>
              </address>
          </div>
      </div>
  </div>
</div>

<div class="card" *ngIf="!cargando && mostrarCalendarioForm">
  <div class="card-body">
    <form [formGroup]="picoPlacaForm" (ngSubmit)="guardarFecha()">
      <div class="form-body">
        <h3 class="card-title">Pico y placa</h3>
        <h6 class="card-subtitle">Establezca la fecha restricción de pico y placa para este semestre.</h6>
        <hr />
        <div class="row p-t-20">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Fecha de la restricción</label>
              <div class="input-group">
                <mat-form-field appearance="fill" disabled="true">
                  <mat-label>Rango de fecha</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input
                      formControlName="fechaInicio"
                      matStartDate
                      placeholder="Fecha inicio"
                    />
                    <input
                      formControlName="fechaFin"
                      matEndDate
                      placeholder="Fecha fin"
                    />
                  </mat-date-range-input>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
      </div>
      <div class="form-group row m-b-0">
        <div>
          <button
            type="submit"
            [disabled]=""
            class="btn btn-success waves-effect waves-light"
          >
            <i class="fa fa-saave"></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="mostrarRestriccionForm">
  <div class="card-body">
    <form [formGroup]="restriccionForm">
      <h3 class="card-title">Digitos, vehículos y días</h3>
        <h6 class="card-subtitle">Establezca los digitos, vehículos y días de la restricción.</h6>
        <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Tipo de vehículo</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-car"></i></div>
                <select class="form-control" formControlName="vehiculo">
                  <option value="">Seleccione el tipo de vehículo</option>
                  <option>Ambos vehículos</option>
                  <option>Carro</option>
                  <option>Moto</option>
                </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Día</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
                <select class="form-control" formControlName="dia">
                  <option value="">Seleccione el día de la restricción</option>
                  <option>Lunes</option>
                  <option>Martes</option>
                  <option>Miercoles</option>
                  <option>Jueves</option>
                  <option>Viernes</option>
                </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Digito de restricción</label>
                <div class="input-group">
              <div class="input-group-addon"><i class="ti-calendar"></i></div>
                <select  class="form-control" formControlName="digito">
                  <option  value="">Seleccione el digito a restringir</option>
                  <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">{{number}}</option>
                </select>
            </div>
          </div>
        </div>
        <div class="col-md-12" formArrayName="digitoRestriccion">
          <div class="form-group" *ngFor="let digito of digitoRestriccion.controls; let i = index;">
            <label for="exampleInputEmail1">Digito de restricción</label>
            <div [formGroup]="restriccionForm">
                <div class="input-group">
                  <div class="input-group-addon"><i class="ti-calendar"></i></div>
                    <select  class="form-control" formControlName="digito">
                      <option  value="">Seleccione el digito a restringir</option>
                      <option *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">{{number}}</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="button-box m-t-20">
        <button (click)="anadirDigito()" class="btn btn-outline-primary"> <i class="fa fa-plus"></i> Agregar digito</button>
        <!-- <button (click)="confirmar()" type="button" class="btn btn-outline-danger"> <i class="fa fa-check"></i> Confirmar digitos</button> -->
        <button (click)="guardar()" class="btn btn-outline-success"> <i class="fa fa-save"></i> Guardar</button>
      </div>
      
    </form>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Restricciones</h4>
        <h6 class="card-subtitle">Números restringidos por días.</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th class="text-nowrap w102">Tipo de vehículo</th>
                <th class="text-nowrap w100">Día de la restricción</th>
                <th class="text-nowrap w100">Digitos restringidos</th>
                <!-- <th class="w140">Vehículo</th>
                <th class="w100">Placa</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let restriccion of restricciones">
                <td class="text-center">
                  <img
                    class="avatar cursor"
                    src="../assets/images/vehiculo.png"
                    alt="Avatar de usuario"
                  />
                </td>
                <td>{{ restriccion.tipoVehiculo }}</td>
                <td>{{ restriccion.dia }}</td>
                <td>{{ restriccion.digito }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div *ngIf="txtTermino.value.length === 0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secondary">
            Anteriores
          </button>
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secondary">
            Siguientes
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>